[2021-02-23 16:20] ameowlia commented on #197
Hi @mmayr-at,

Tanzu is a closed source product and this is an open source repo. From my position as a VMware employee who works on Tanzu, I can say that sometimes we release Tanzu with versions that are not available in the open source. For example, [tanzu 2.6.0](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/runtime-rn.html#2.6.0) uses routing release 0.188.1.

Thanks

[2021-02-23 16:20] #197 closed, assigned to nobody

[2021-02-25 23:32] selzoc commented on #195
Hi @domdom82, we discussed this as a team and don't think we would want to modify the current behavior.  In the gorouter's job as a reverse proxy, we want to make sure that the # of connections are fairly distributed amongst backends, and this is a coarse mechanism for making sure that the pool can't be entirely taken up by long-running connections past a certain timeout.

[2021-02-25 23:32] #195 closed, assigned to nobody

[2021-03-27 23:14] clavinovahan commented on #170
Since the fix is based on option 2. the backend apps behind the reverse proxy needs to be bind with some route service to make fix works for sticky session? So the traffic line will be,

client -> gorouter -> reverse proxy app -> route service -> backend app

If we have to create a route service, could we bind it with internal route?

Since we really do not need to do anything on the route service

[2021-03-29 16:33] ameowlia commented on #170
Hi @hanscrg,

You are correct, in order for this to work the reverse proxy needs to be bound to the app as a route service. You are also correct, route services do not work with internal routes.

## **Some Technical Context**

**1. VCAP_ID sticky sessions only work with gorouter**
Sticky sessions using VCAP_ID _only_ work with "normal" routes, not internal routes. When the gorouter receives the in

[2021-03-31 00:14] clavinovahan commented on #170
@Amelia Downs, thank you so much for the answers which is so detail and insightful.  Here is some background information,
Our reverse Proxy is based on Spring Cloud Gateway which routes the requests to different applications behind . One of the application behind scaled to multiple instances which create session with JSESSIONID after login. So we need to make sure after login to that application,

[2021-03-31 15:21] ameowlia commented on #170
@hanscrg, based on your comments it sounds like you have implemented your own reverse proxy, so that you are in control of changing it.

❓ Could you please open this as a new issue in [cf-networking-release](https://github.com/cloudfoundry/cf-networking-release)? Please provide as much details as possible and a demo app would be great as well.

[2021-03-31 21:18] Gerg opened #200 "Intent to support HTTP/2"
Continuing the legacy of https://github.com/cloudfoundry/gorouter/issues/276

As a follow up to issue #195, we have generated this [proposal](https://docs.google.com/document/d/1vcqlwchibRPnGn2pPQideaW8rmGMGoHFtgrS4RmsVl8/edit) to enable http2 in cloud foundry.

We will be using this issue as our central coordination point and linking any associated PRs. Please let us know if you have requests or

[2021-04-05 21:58] Gerg commented on #200
Spring Boot H2C Issues:
- https://github.com/spring-projects/spring-boot/issues/25855
- https://github.com/spring-projects/spring-boot/issues/25856

[2021-04-22 15:31] ameowlia commented on #191
Given that there is a work around I am going to close this issue. Please re-open in the [cf-deployment repo ](https://github.com/cloudfoundry/cf-deployment) if the workaround stops meeting your needs.

Thanks,
Amelia Downs, CF Networking Team Member

[2021-04-22 15:31] #191 closed, assigned to nobody

[2021-04-26 20:47] Gerg commented on #200
Golang issue for h2c upgrade headers: https://github.com/golang/go/issues/45785

[2021-05-03 14:36] #124 closed

[2021-05-10 13:22] 46bit opened #203 "When using a Load Balancer, mTLS and a route service, I need my apps to receive the X-Forwarded-Client-Cert header"
👋🏻 **We're reporting an issue that we may want to contribute a PR to fix. Would like some feedback on our suggested fix.**

## Issue

Our platform terminates TLS before reaching Gorouter. We provide the `X-Forwarded-Client-Cert` header to Gorouter. We want Gorouter to trust the `X-Forwarded-Client-Cert` header it receives.

Our user needs to authenticate requests to their apps. They are using Mutu

[2021-05-10 14:40] 46bit commented on #193
I've made two commits above that I think should together address this issue. We don't actually run `routing-api` so I'm not going to have time to add tests and make them into full PRs. Anyone else is welcome to carry that on if they want to get this done.

[2021-05-11 18:50] ctlong commented on #200
`hey` fork + branch that includes TLS: https://github.com/ctlong/hey/tree/feat/tls. For performance testing.

[2021-05-12 09:23] 46bit commented on #203
I have opened a PR that implements the change we're suggesting: https://github.com/cloudfoundry/gorouter/pull/281

[2021-05-12 10:41] pauldavidgilligan commented on #190
To get round **_this major limitation_** with the gorouters ability to handle more than one space I have had to develop an API to enable us to delivery blue / green applications safely.

[2021-05-18 16:20] peterellisjones commented on #187
Hi folks, with @domdom82's help I did some testing with Envoy today which unfortunately seems to suggest that there is no healthcheck configuration for Envoy that would cause Envoy to only accept an incoming TCP connection if the application is healthy.

I deployed Envoy and a test app locally, set up an Envoy healthcheck for the app so that it _always fails_ and configured Envoy to disable  [pani

[2021-05-18 23:15] Gerg commented on #200
Golang issue for h2c client upgrade support: https://github.com/golang/go/issues/46249

[2021-05-19 09:36] peterellisjones commented on #187
Note that this issue means that the [docs](https://docs.cloudfoundry.org/concepts/http-routing.html#retry) for gorouter transparent retries are not quite accurate when route integrity is enabled

![Screenshot 2021-05-19 at 10 32 34](https://user-images.githubusercontent.com/2788556/118790330-91be4f00-b88d-11eb-9961-c9beff0dc777.png)

With route integrity enabled, Envoy accepts a TCP connection eve

[2021-05-21 23:43] mkocher commented on #200
Updated perf test release: https://github.com/cloudfoundry/routing-perf-release/pull/1

[2021-05-25 06:19] ghost opened #206 "ip_local_reserved_ports should be set to deconflict with ip_local_port_range"
## Issue

If you're unlucky, an unrelated process on a Gorouter can consume a local port that the Gorouter needs to be able to listen on, causing the Gorouter to be stuck in a restart loop.

## Affected Versions

Likely all in the past 5 years.

## Context

https://github.com/cloudfoundry/routing-release/commit/e00e0ca5f8ae3cc9f02abc81642b45a6a38f648d adds the ability to configure `/proc/sys/net/i

[2021-05-25 12:52] 46bit commented on #203
https://github.com/cloudfoundry/gorouter/pull/281 has been merged, so this issue can be closed once that's shipped in routing-release

[2021-05-25 20:07] jrussett commented on #206
Hi @ae-govau,

Thanks for taking the time to write this issue.

## Related issue?
This problem seems awfully familiar, if not the same, to GH Issue #184.

There is a doc in this repo, [Known Issue: TCP Router Fails when Port Conflicts with Local Process](https://github.com/cloudfoundry/routing-release/blob/develop/docs/tcp-router-port-conflict-known-issue.md) with a lot more information.

## Solut

[2021-05-25 23:10] ghost commented on #206
Hi @jrussett , I did see #184, and while it shares a lot of the same keywords, I think it's quite a different issue.

1. This issue relates to (and can be fixed by) the prestart script for the `gorouter` component, not the `tcp-router` (although I wouldn't be surprised if it were similarly affected, I didn't check if it modifies the kernel `ip_local_port_range` in the same way). #202 doesn't chang

[2021-05-28 17:21] ameowlia commented on #184
So happy to call this one closed thanks to https://github.com/cloudfoundry/routing-release/releases/tag/0.214.0.

This problem is still possible, but much less likely and now there are clear ways for the user to fix it.

[2021-05-28 17:22] #184 closed, assigned to nobody

[2021-06-03 10:19] andy-paine opened #207 "Gorouter overwrites any existing X-VCAP-Request-ID header"
## Issue
The gorouter overwrites any existing X-VCAP-Request-ID

## Affected Versions
Every version after 2014

## Context
Sometimes users experience timeouts etc., particularly when talking to the Cloud Controller. As they do not get a response back, they cannot correlate their request to any logs in the Cloud Controller/gorouter for debugging purposes. The Cloud Controller has [some code to hand

[2021-06-25 14:55] Soha-Albaghdady opened #208 "Gorouter: Replacement of transfer-encoding header with content-length header"
## Issue

Gorouter no longer replace `Transfer-Encoding` header with the `Content-Length` header.

## Affected Versions

0.214.0, 0.215.0 and 0.216.0
## Context

We have noticed that in v0.213.0 release gorouter used to replace the `Transfer-encoding` header with the `Content-Length` header for a response coming from a server having `Transfer-encoding: 'chunked'` set. In release v0.214.0  and up t

[2021-06-29 13:46] aminjam opened #209 "Use go-uaa instead of uaa-go-client library"
## Use go-uaa instead of  uaa-go-client  library

## Summary

[uaa-go-client  library](https://github.com/cloudfoundry-incubator/uaa-go-client) is now deprecated. Let's remove the submodule and use [go-uaa](https://github.com/cloudfoundry-community/go-uaa) module instead.

Linked Issue: cloudfoundry/diego-release#577

[2021-07-05 09:09] domdom82 commented on #187
@peterellisjones With your PR merged let's try to reproduce this issue. If my understanding is correct, a failing app should at most produce one 502 before gorouter will retry another instance. If that is the case, the old behavior is restored and we can close this issue.

[2021-07-07 17:01] Gerg commented on #200
We prototyped an implementation for end-to-end HTTP/2. Here are our prototype implementation branches:
- CAPI Release: https://github.com/cloudfoundry/capi-release/tree/http2_route_destinations
  - Cloud Controller: https://github.com/cloudfoundry/cloud_controller_ng/tree/http2_route_destinations_spike
- Diego Release: https://github.com/Gerg/diego-release/tree/http2_route_destinations
  - Executo

[2021-07-08 22:16] Gerg commented on #200
# Proposal for End-to-End HTTP/2

## Background

To support workflows like gRPC routes, Cloud Foundry needs to support HTTP/2 for all network hops between users' applications and their clients. We have not found a satisfactory way to automatically support end-to-end HTTP/2 without breaking HTTP/1 applications. Instead, users will need to apply route destination configuration to enable end-to-end H

[2021-07-20 12:31] #203 closed, assigned to nobody

[2021-07-21 11:53] peterellisjones commented on #187
I've manually confirmed that [routing release 0.217.0](https://github.com/cloudfoundry/routing-release/releases/tag/0.217.0) fixes this issue -- all subsequent requests to the crashed app are correctly retried against the healthy instance:

With 0.216.0:
[code]

With 0.217.0:
[code]

[2021-07-26 08:04] domdom82 commented on #187
@peterellisjones Excellent! Closing.

[2021-07-26 08:04] #187 closed, assigned to nobody

[2021-07-27 21:00] Gerg commented on #200
### Relevant PRs for End-to-End HTTP/2:

- Diego Release:
  - Route Emitter: cloudfoundry/route-emitter#16
  - Routing Info: cloudfoundry/routing-info#2
  - Executor: cloudfoundry/executor#54
- Routing Release:
  - Gorouter: cloudfoundry/gorouter#289
- Capi Release:
  - Cloud Controller:  cloudfoundry/cloud_controller_ng#2439
- CF Acceptance Tests: cloudfoundry/cf-acceptance-tests#473

[2021-08-02 12:35] pusherofbrooms commented on #208
We are experiencing this as well with our upgrade from routing-release v0.213.0 to v0.216.0 . Sadly, some of our developers decided to implement an embedded http library which doesn't support chunked `Transfer-Encoding`.

In the 43 commits from v0.213.0 to v0.216.0, I don't see any direct changes to `Transfer-Encoding` behavior. My suspicion is that the underlying go upgrades caused the issue. I'm

[2021-08-23 22:06] ctlong opened #217 "GoRouter: confusing "http2" logs when HTTP/2 routing is disabled by an operator"
## Issue

GoRouter might generate confusing "http2" logs when HTTP/2 routing is disabled by an operator.

## Affected Versions

0.223.0

## Context

Given open source options related to the new HTTP/2 feature, a developer could set a route to use HTTP/2 in CloudController, but have HTTP/2 disabled on GoRouter by a platform operator. The route would still have its protocol set to "http2" even thoug

[2021-08-30 17:23] ctlong commented on #217
Related to #200

[2021-09-23 23:22] jpalermo opened #225 "gorouter.yml template rendering errors"
The bosh team recently shipped a version of the bosh director that uses ruby 3. We got a report that this has broken the rendering of the `gorouter.yml` template.

https://github.com/cloudfoundry/bosh/issues/2322

We've tracked the issue down to a bump in the version of libyaml we package with the ruby release. We're trying to find a workaround but wanted to bring this to your attention so the tem

[2021-09-30 09:16] thomas-kaltenbach opened #230 "Gorouter: Websockets over HTTP/2 - invalid pseudo-header ":protocol""
## Is this a security vulnerability?
no

## Issue
Gorouter is not able to handle HTTP/2 Websockets requests ([RFC 8441](https://datatracker.ietf.org/doc/html/rfc8441)).

## Affected Versions
latest version when http2 is enabled

## Context
We are testing currently the http/2 feature and we noticed that websockets over http/2 are not working. Gorouter is closing the connection without any http resp

[2021-10-05 22:38] Gerg commented on #230
My initial thoughts:

Given the discussion in golang/go#32763, it seems like it will be difficult to get RFC 8441 support for Gorouter any time soon (let me know if I'm missing something that would make it possible 🙂).

Based on that, it seems like the next best option would be to make HAProxy (and other clients) use HTTP/1.X for websockets requests. We already impose some Load Balancer configurat

[2021-10-06 23:37] Gerg commented on #230
I applied haproxy/haproxy@befeae8 as a patch to the existing HAProxy release and configured `h2-workaround-bogus-websocket-clients`. It did not seem to have any effect on HAProxy's communication with backends.

[2021-10-06 23:48] Gerg commented on #230
I was able to hack together a HAProxy config that appears to work for websockets:

Relevant excerpts:
[code]

[code]

[2021-10-12 05:07] kelvin-j-li commented on #208
We have the same issue when upgrading from TAS-2.11.0 (routing release 0.211.0) to TAS-2.11.6 (routing release 0.224.0).

The code changes/solution provided here (https://community.pivotal.io/s/article/Application-Chunked-Error?language=en_US) can be used to work around the issue:

`Situation #3 above, can be mitigated by not directly returning ResponseEntity objects from RestTemplate.exchange. Yo

[2021-10-12 21:28] geofffranks commented on #208
@pusherofbrooms This change in behavior is a result of https://github.com/golang/go/commit/ca3c0df1f8e07337ba4048b191bf905118ebe251 (thanks @ameowlia!), present in golang 1.16.x but not golang 1.15.x.

In your case it sounds like the clients don't support chunked encoding, but are talking to a service that responds with chunked encoding, and due to an unconventional behavior in golang, things work

[2021-10-13 21:15] ameowlia opened #234 "test"
## Issue

## Affected Versions

## Context

## Traffic Diagram

[code]

## Steps to Reproduce

## Expected result

## Current result

## Possible Fix

## Additional Context

[2021-10-13 21:24] #234 closed, assigned to ameowlia

[2021-10-19 14:39] geofffranks commented on #225
@jpalermo This should be resolved with https://github.com/cloudfoundry/routing-release/commit/eb9051671d094af2dc1ff699a4de95865b4dbb91. Should be in the next routing release (hopefully this week)

[2021-10-19 14:39] #225 closed, assigned to nobody

[2021-10-19 16:58] geofffranks commented on #208
It does not look like we will be making any changes in the near future to gorouter related to this, so I'm going to summarize the known symptoms related to this, potential solutions, and close this out.

- Apps that proxy requests to backend apps running on CF that are copying all headers across, rather than ignoring the [hop-by-hop headers](https://datatracker.ietf.org/doc/html/rfc2616#section-13

[2021-10-19 16:58] #208 closed, assigned to nobody

[2021-10-20 00:07] #217 closed, assigned to nobody

[2021-10-21 16:32] amhuber commented on #193
I was just going to start seeing if I could figure out enough golang to add your commits and see if the tests are breaking, but when I look now it looks like the commits you made are gone.  I don't suppose you happen to have the code changes you made somewhere that you can share again?

[2021-10-22 20:52] 46bit commented on #193
@amhuber oh no :( I cleaned up some forks recently and it must have been in one. I'll set a reminder for next week to see if I still have a copy

[2021-10-28 23:00] 46bit commented on #193
@amhuber @ameowlia Unfortunately I don't have a copy of the commits. As I recall they were quite simple – adding the extra config option described by this issue. I'm away for the next couple of weeks.

[2021-11-12 14:04] peterellisjones opened #240 "Coordinate backend HTTP keep-alive timeouts with buildpack teams"
## Is this a security vulnerability?
No

## Issue

Hi folks, when using HTTP keep-alive it is important that clients always close connections before servers. This is to avoid the race condition where a client sends a new request on an existing connection just as the server closes the connection. When this happens for a request from the gorouter to an application, the user will get a 502 for [non-r

[2021-11-12 14:07] plowin commented on #240
Also cross-linking a similar blog about a nodejs express server behind an AWS ALB: https://adamcrowder.net/posts/node-express-api-and-aws-alb-502. One customer just recently ran into this issue with their node-server on our CF env.

[2021-11-15 11:49] MirahImage opened #241 "Failing to render templates when consuming `nats-tls`"
## Issue
When deploying the `route_registrar` job consuming the `nats-tls` bosh link from a cloudfoundry deployment v17.0.0 which only provides the `nats-tls` bosh link, bosh fails to template `registrar_settings.json.erb` on line 13 with the error `Can't find link 'nats'`.

## Affected Versions
routing-release: v0.226.0
cf-deployment: v17.0.0

## Context

## Steps to Reproduce

Attempting to depl

[2021-11-15 14:56] MirahImage commented on #241
Closing, as resolved by adding a `nats` block to the properties explicitly enabling TLS and specifying the cert and key:

[code]

[2021-11-15 14:56] #241 closed, assigned to nobody

[2021-11-16 18:29] ctlong commented on #186
Initial thoughts:
* I don't know how well routing-release is expected to work on SCF.
* The linked code definitely seems to indicate that the routing-api and gorouter don't timeout on requests to UAA, which is probably something that should be changed.

[2021-11-17 23:31] Gerg commented on #207
I'd like to understand more about

What is timing out in this case? Cloud Controller? Gorouter? Something in front of Gorouter?

Without understanding more about this issue, it sounds like an alternative solution would be to ensure that Gorouter returns the X-VCAP-Request-ID header when a request times out.

[2021-11-23 15:31] andy-paine commented on #207
In this situation it is the client that is calling the Cloud Controller is what is timing out or to be more correct, is closing the connection after a certain period. When users ask what happened to a long-running request that the client timed out they don't know the VCAP request ID so we can't find the correct logs to see what CC was doing. Some of these users have offered to include a header as

[2021-11-24 08:30] stephanme commented on #207
In addition the [multiapps](https://github.com/cloudfoundry-incubator/multiapps) team had the use case to correlate CF API logs with data in other application performance monitoring tools. This is easier to achieve if the user has control over correlation ids.

Maybe @boyan-velinov can provide more insights.

[2021-11-26 19:12] plowin opened #242 "Route-service not logging target URL in case of errors"
## Issue

Route service logs could be enhanced with more metadata. Proposol for an enhancement on the gorouter repo: https://github.com/cloudfoundry/gorouter/pull/301
If filling out this template is still required, please ping me

## Affected Versions

## Context

## Traffic Diagram

[code]

## Steps to Reproduce

## Expected result

## Current result

## Possible Fix

## Additional Context

[2021-11-29 21:53] Gerg commented on #207
This idea sounds appealing:

I dug into the history some, but I couldn't find any clues on why the `X_REQUEST_ID` header exists or is overridden by `X_VCAP_REQUEST_ID`: https://github.com/cloudfoundry/cloud_controller_ng/commit/646ebb75ca3e89574fbcd293f05cdbd663d5afb7

If you agree this is a good path forward, you can transfer this issue to Cloud Controller: https://docs.github.com/en/issues/track

[2021-11-30 16:17] ameowlia commented on #242
Merged!

[2021-11-30 16:17] #242 closed, assigned to ameowlia

[2021-11-30 16:38] plowin commented on #242
Thanks a lot!
Just for next time: Is an issue required to have the PR on some board or is only the PR sufficient if it is small enough?

[2021-11-30 18:56] ameowlia commented on #242
Only a PR is needed for small changes that affect only one job.

[2021-12-02 00:03] Benjamintf1 opened #246 "Update http metrics for cf to a more modern and efficient format"
**Intention**:
We intend to change http metrics to be polled from gorouter via a prometheus exposition endpoint as a histogram of request latencies per application rather than each request generating 4 http start stop envelopes. The new exposition endpoint will be polled by prom-scraper and the histograms will be emitted into the loggregator pipeline instead of the multiple start stop messages.

T

[2021-12-07 21:49] jmotex opened #248 "Improve handling of x-cf-forwarded-uri when requests use absolute URI (possible with http 1.1) instead of relative path"
## Is this a security vulnerability?
No

## Issue
CF route services have the x-cf-forwarded-url header set by the router.
For typical requests that send only relative path as the request-URI things work fine, but when an absolute-URI is sent it causes a malformed x-cf-forwarded-url header.  It appears x-cf-forwarded-url is just host+URI so host+absoluteURI = hosthttp://host/path as an example of a

[2021-12-09 09:01] stefanlay commented on #246
This is very much appreciated.
With https://github.com/cloudfoundry/gorouter/pull/275 and https://github.com/cloudfoundry/routing-release/pull/198 we added the possibility to switch off these per-request metrics, but we did not find time to implement the calculation and exposure of the related statistics.

[2021-12-16 17:37] mikebl71MC opened #250 "Return a 503 not a 404 when all instances down"
## Issue

When all instances of an application are not available, clients get 404 Not Found instead of 503 Service Unavailable.

## Affected Versions

PCF 2.12

## Context

If a route is registered but all instances of an application are currently down then GoRouter currently returns 404 Not Found. It would
be better if it returned 503 Service Unavailable.

It looks like this issue was already dis

[2021-12-16 23:14] Benjamintf1 commented on #246
Quick update. We ran some quick tests to see how it scaled. We ran into a problem when bumping "number of apps" from 10k to 50k, some weird ssl problems that I don't understand entirely. I suspect/hope we get time to get back into looking into it at some point and figuring out how well we have to scale to be viable.

[2021-12-23 19:45] Benjamintf1 commented on #246
Still working on this track. spent some time tracking down what was going on. It's actually relatively simple, although something to consider. The timeout for the http endpoint was too low and causing it to timeout. What I found confusing was how that presented with curl.

[2022-01-19 23:19] Gerg commented on #207
Checking back on this issue @andy-paine @stephanme. What do you think about transferring this to Cloud Controller?

[2022-01-19 23:24] Gerg commented on #230
@thomas-kaltenbach Given the changes introduced in cloudfoundry/haproxy-boshrelease#263, is there any remaining work for this issue?

[2022-01-21 16:44] plowin commented on #250
Hi @mikebl71MC,
thanks for raising your request!

I followed the well-documented investigations and findings @ameowlia shared in https://github.com/cloudfoundry/gorouter/pull/251#issuecomment-657638000.
Going through the steps, I could verify that the HTTP header "x-cf-routererror" is set for euch of the different status codes (502, 503, 404):
* 502 Bad Gateway: Registered endpoint failed to handl

[2022-01-21 17:44] n-shaw commented on #250
Could a customer create a [routing service](https://docs.cloudfoundry.org/services/route-services.html) in front of any services where they would prefer a `503` instead of a `404`?  Seems like a routing service would be able to see the `x-cf-routererror` response header and then change the response status to a `503`.

It may not be ideal, but if you are leveraging the HTTP status as a means of com

[2022-01-21 18:48] Benjamintf1 commented on #246
Made a set of prs for this to get started:

https://github.com/cloudfoundry/gorouter/pull/307
https://github.com/cloudfoundry/routing-release/pull/258

I think we can iterate on these, but I wanted to start with something.

[2022-01-24 15:05] domdom82 commented on #250
I think the 404 gets returned eventually, because the pruning algorithm keeps removing routes with no endpoints here:
https://github.com/cloudfoundry/gorouter/blob/main/registry/registry.go#L322

Since gorouter is stateless, it cannot know if a backend pool is empty because the app crashed and is about to recover or if the app is just shut down. So I guess some kind of clean up is needed either wa

[2022-01-24 17:08] stephanme commented on #207
I understand that the gorouter wants to be in control of the vcap-request-id so that there is a guaranteed unique correlation id for tracing within CF that a user can't tamper with.

On the other side I see the end user need to understand if a client request reached the platform. To find out if a client request reached the CC, the proposed "easiest alternative" (prefer X-Request-ID over X-VCAP-Req

[2022-01-27 20:19] Benjamintf1 commented on #246
Oh, one note is that *technecially* percentile can still be derived by using `histogram_quantile` function in prometheus but it's a little weird and I don't entirely understand the implications and errors thereof.

[2022-01-31 14:53] ameowlia commented on #250
@domdom82 what a creative solution! Much better than getting all routes from the cloud controller.

If someone submitted that PR I would happily merge it.

[2022-02-01 07:37] plowin commented on #250
Hi, thanks for the feedback, @ameowlia.
We will try to work on this during Q1/early Q2 2022!

[2022-02-03 15:24] Mrizwanshaik opened #259 "Unable to connect to nats servers: nats: Authorization Violation"
## Issue

- nats VM is not running after update. Review logs for failed jobs: Metrics-discovery-registrar

## Affected Versions

`metrics-discovery-release: 3.0.7`
`routing-release:0.228.0`

## Context

- Three nats-tls servers
- On the same VM nats-tls job and metrics-discovery-registrar job are running
- We removed nats/user and password from the cf-deployment using ops file as it is made option

[2022-02-04 08:29] plowin commented on #200
Hi @Gerg , is there a reason why this is still open?

[2022-02-04 10:20] mikebl71MC commented on #250
Thank you for the response and for working on a solution.
a) could you please make the default value for the above timeout reasonably high, at least 30 sec, maybe even more. So that the app has a good chance to recover. Or, if longer problems, then the infrastructure has enough time to spot the problem and move traffic to another region.
b) just to confirm, would the above solution work regardless

[2022-02-04 12:39] domdom82 commented on #250
@mikebl71MC Thanks for your feedback. We will play around with timeouts to find a reasonable default value. We used to have 20 secs for routes refresh and I think pruning started after 2 mins if not refreshed. So this could be a good starting point.

Regarding b) I don't think it makes a difference. When you stop an app for maintenance, you should see the same behavior.

[2022-02-07 18:25] Gerg commented on #200
Not that I'm aware of. I'll go ahead and close it.

[2022-02-07 18:25] #200 closed, assigned to nobody

[2022-02-08 11:31] domdom82 commented on #259
This is an interesting edge-case that is amplified by the fact that BOSH DNS seems to remove IPs of VMs that are not yet fully running:

While testing this, I logged into `nats/f597cde7-5fec-43e5-acc2-88450fb7dc3d` (10.0.65.3) which was the canary VM.
[code]

On that VM, the `nats-tls` job was already updated and running without password authentication. However, the
metrics-discovery-registrar use

[2022-02-09 15:31] plowin commented on #230
Hi @Gerg, note that Thomas moved within our Org, taking over.

In https://github.com/cloudfoundry/haproxy-boshrelease/pull/263 we downgrade all websockets to h/1 even though h/2 is configured.
Accordingly, this is still an issue and this workaround should not remain for ever. Seems to depend on https://github.com/golang/go/issues/32763.

[2022-02-11 04:16] AJ-72 commented on #190
@pauldavidgilligan Do you have plans to opensource the API you developed? I am also stuck at the same problem.

[2022-03-02 14:20] axel7born opened #262 "Uneven load balancing when using a route-service."
## Issue
Uneven load balancing when using a route-service.

## Affected Versions
since 0.226.0
https://github.com/cloudfoundry/gorouter/commit/039ab0c6f93f13d2fcb4abb30f29c2c17842ee1b

## Context

We noticed an uneven load balancing in an app using a route-service since the above mentioned change.
In our a scenario it is quite common to have 4xx responses, which are not caused by stale routes.
Thi

[2022-03-04 15:37] geofffranks commented on #262
What 4xx messages are your routeservices returning in this case? We have seen issues where route-service URLs contain auth information, and become out of date.

I'm trying to determine whether this should be fixed just by addressing the uneven load balancing + adding more logging, or if we should rethink how we're detecting stale routes to be pruned.

[2022-03-04 22:03] datagitlies opened #264 "Invalid X-B3-SpanId header values (too long)"
## Is this a security vulnerability?
No

## Issue
**gorouter**: The Zipkin TraceID changed to 16 bytes in commit [e5d7aab](https://github.com/cloudfoundry/gorouter/commit/e5d7aab0b68ed16f3ea36caa2a739e68dc5c2779#diff-fc39773fc82299500e2f352a061aa51e1fbcdf601da478b627e99caf2c423ebaR48) which is / was a "valid" change.  However, since the TraceID and SpandID values are the same, this gives the SpanI

[2022-03-07 07:26] iromanko-sap commented on #262
Hi,
this is the distribution of 4xx requests and its codes for a timeframe of 15 min.
429 is is our rate-limiting
404 can happen due to a pruned tenant - which is ok from our side
401 & 403 are also pretty common since our service is doing authorization & authentication.
![2022-03-07_08-16-15](https://user-images.githubusercontent.com/101089895/156986477-e22c7cb4-e7c0-407b-b542-e686699096e6.png)

[2022-03-07 14:34] geofffranks commented on #262
Interesting. In the case of a 401/403, the authentication is handled client-side rather than in the route-service definition, correct?

When you receive 404s, is there anything that needs to change on the route service configuration in CF to make things work again, or is all the configuration aside from the URL handled separately from CF?

Lastly, is this a fully-brokered, static-brokered, or user

[2022-03-08 07:10] iromanko-sap commented on #262
@geofffranks correct, the authn is handled by other service which is behind the route service.
If we receive 404 it can basically mean the following:
1) someone is calling a non-existent tenant (can be deleted in the meantime or it never existed which would mean typo or human error)
2) our service is in a weird state and is showing 404 instead of 500, which is normally never the case.
Basically in

[2022-03-16 08:47] domdom82 commented on #250
draft PR: https://github.com/cloudfoundry/gorouter/pull/314

[2022-03-31 14:11] domdom82 commented on #250
Hi @ameowlia I think the changes are ready for review now.
tldr:
- There is now a `empty_pool_timeout` property on gorouter
- The default value is 0 because we didn't want to change default behavior and act defensively (@mikebl71MC suggested at least 30s default, which we can also do)
- The property is used in conjunction with the `empty_pool_response_code_503` flag
- If both are set, the `empty_p

[2022-04-06 11:51] iromanko-sap commented on #262
Hi @geofffranks,
is there any progress regarding the issue or do you need any further information from us?

[2022-04-06 13:41] geofffranks commented on #262
I was actually working on some possible fixes for this yesterday.  We're looking at options that don't involve pruning endpoints based off of route-services responses.

I don't think any additional info is needed at this time

[2022-04-07 09:23] domdom82 commented on #259
Fixed in the latest NATS release v43 which is part of https://github.com/cloudfoundry/cf-deployment/releases/tag/v18.0.0

[2022-04-07 09:23] #259 closed, assigned to domdom82

[2022-04-08 08:19] iromanko-sap commented on #262
@geofffranks, great! I am happy that this issue is going forward.

[2022-04-08 22:50] #250 closed, assigned to ameowlia, plowin

[2022-04-08 22:52] ameowlia commented on #250
Hi all,

🎉 First off a big thank you to @mikebl71MC for raising this issue, thank you @kecirlotfi for submitting the PRs, and thank you @domdom82 for your great solution and for your reviews.

I agree with you @domdom82. I think the default value should be 0.

I merged the PRs and can't wait to release!

[2022-04-14 17:12] geofffranks commented on #262
FYI @iromanko-sap @axel7born take a look at the gorouter#315 PR linked ^^ as a possible fix for this

(don't prune routes in this scenario in the first place then)

[2022-04-19 20:39] geofffranks commented on #262
I'm going to close this, now that 0.232.0 is out. It reverts all of the logic that caused this problem for you, so that should be fixed.

If you're still having issues, feel free to re-open!

[2022-04-19 20:39] #262 closed, assigned to geofffranks

[2022-04-20 06:15] axel7born commented on #262
@geofffranks Thanks for fixing!

[2022-04-20 07:54] iromanko-sap commented on #262
@geofffranks Huge thanks! I am eager to see it on our landscapes!

[2022-05-13 10:56] joergdw opened #270 "Consume current golang-version"
The current release is not up-to-date. However the golang-versions prior to 1.18.2 and 1.17.10 have [CWE 284](https://cwe.mitre.org/data/definitions/284.html). Could you publish soon the next release to fix this, please?

[2022-05-23 07:18] maxmoehl opened #272 "gorouter error message for route-service timeout is misleading"
## Issue

Gorouter does not properly throw errors when a route-service timeout is hit.

## Affected Versions

Tested with:
[code]
but it seems like the issue is still present in more recent versions.

## Context

We deployed a route-service that violates the configured 60s route-service timeout. We expected to receive a response that indicates a route-service failure. Instead we received a error m

[2022-05-23 08:44] domdom82 commented on #272
Maybe a `504 Gateway Timeout` would be even more appropriate than a `502 Bad Gateway`.

[2022-06-01 14:33] plowin commented on #264
Hi @datagitlies , with which release were you observing this? We also saw this issue but I thought it was fixed with [0.229.0](https://github.com/cloudfoundry/routing-release/releases/tag/0.229.0) and was introduced with 0.227.0?

[2022-06-13 08:33] joergdw commented on #270
Done with https://github.com/cloudfoundry/routing-release/releases/tag/0.235.0

[2022-06-13 08:33] #270 closed, assigned to nobody

[2022-07-07 08:55] domdom82 opened #278 "gorouter_time is equal to response_time for WebSocket requests"
## Issue
For regular HTTP requests we distinguish between the actual response_time (i.e. the time it takes the backend to send a complete HTTP response) and gorouter_time (processing time gorouter takes locally):
[code]
Note the two times
[code]
are vastly different. This helps find out if the gorouter is slow or the backend app.

However, for WebSocket requests this distinction is not made and go

[2022-07-07 13:18] ameowlia commented on #278
🐛 Good find!

[2022-07-11 09:01] domdom82 opened #279 "Route a.b.com/foo should fall back to a.b.com instead of returning 503"
## Issue
There is a subtle bug in the settings `empty_pool_response_code_503` and `empty_pool_timeout`.
If both are enabled, gorouter will return a `503 service temporarily unavailable` for `empty_pool_timeout` duration and will reap the empty pool with the next pruning cycle thereafter.

**The Bug**
The logic in `registry/container/trie.go.MatchUri` doesn't take empty pools into account when tryi

[2022-07-15 23:55] jrussett commented on #279
Hi @domdom82

Thank you for submitting this issue and accompanying PR. Unfortunately, I am not able to reproduce this issue on a cf-deployment `v21.5.0` env with routing-release `0.235.0` as the app continues to return HTTP Status Code `200`. Is there a more specific version of cf-deployment/routing release that I should try?

Thanks
@jrussett

[2022-07-20 14:29] peanball opened #281 "Gorouter Route Service Hairpinning"
## Is this a security vulnerability?

No, but related to an existing mitigation.

## Issue

Since [Routing Release 0.188.0](https://github.com/cloudfoundry/routing-release/releases/tag/0.188.0) route service requests are handled as external requests by Gorouter in order to work around [CVE-2019-3789](https://www.cloudfoundry.org/blog/cve-2019-3789/).

We would like to find a way to re-enable the f

[2022-07-21 21:26] ameowlia commented on #281
Option 1 sounds like a good _route_ to me. It would be great to reduce the number of hops for route services.

[2022-07-25 16:06] geofffranks commented on #272
👋 taking a look at the PR now!

[2022-08-12 14:37] peanball commented on #281
FYI, @Benjamintf1: We now have PRs for gorouter ([gorouter/#324](https://github.com/cloudfoundry/gorouter/pull/324)) and routing-release (#283) to resolve this issues. Both have been reviewed / approved by our team members.

Is there anything left to do for us to contribute before this could be integrated in an upcoming routing-release?

[2022-08-24 14:19] geofffranks commented on #281
Everything is now merged, should be coming out in a release soon! sorry for the delay

[2022-08-24 14:19] #281 closed, assigned to ameowlia

[2022-09-07 14:47] ameowlia commented on #281
Belated THANK YOU for doing this work @peanball!

[2022-09-08 14:55] domdom82 commented on #279
@jrussett have you tried turning on `empty_pool_response_code_503 ` and setting `empty_pool_timeout ` to a non-zero value, e.g. 30s?
Then it should show this behavior. The `empty_pool_timeout` is set at 0s by default so it won't show it unless changed.

[2022-09-08 15:29] domdom82 opened #285 "Retry mechanism insufficient in dropped / missing NATS messages scenario"
## Issue
We've found and interesting problem that can occur in a situation where gorouter has to drop messages from NATS or otherwise does not receive "router.unregister" messages for apps that have moved.

- During load tests we've created an overload situation where NATS emits too many messages for gorouter to consume or even buffer, so it has to drop them eventually.
- When an app gets redeploy

[2022-09-14 20:00] dandersonsw opened #286 "Log all headers to comply with M-21-31"
## Is this a security vulnerability?
No

## Issue
Currently, non-standard headers are not logged unless specified using the `extra_headers_to_log` field, which requires a list of known headers to log.

## Affected Versions
Unknown

## Context

In order to comply with [M-21-31](https://www.whitehouse.gov/wp-content/uploads/2021/08/M-21-31-Improving-the-Federal-Governments-Investigative-and-Remediat

[2022-10-13 13:41] domdom82 opened #292 "Improve load balancing across availability zones using tags"
## Issue
This is another facet of issue #285

- In an AZ outage scenario a whole set of endpoints may no longer be operational.
- Even if there are multiple endpoints available in multiple AZs, gorouter will not know about them as endpoints have no AZ metadata assigned to them
- If the endpoint list happens to have 3 endpoints from a broken AZ in order, the request will fail despite retries

## Af

[2022-10-13 14:06] ameowlia commented on #292
👋 Hi @domdom82 ,

Thanks for writing this up. This sounds like a great idea. LMK if you need any pointers for where changes need to be made. I suggest trying to make multiple small PRs rather than one big PR. Maybe one PR to add az tags to route registrar endpoints. One PR to add azs to app endpoints. And one PR to have gorouter respect those az tags.

[2022-10-19 18:12] #206 closed, assigned to jrussett

[2022-11-07 16:09] ameowlia commented on #285
Thank you for writing all of this up @domdom82,

I am in favor of all of the proposals you mentioned:
* making `MaxRetries` configurable
* option to try all endpoints
* [lb across azs](https://github.com/cloudfoundry/routing-release/issues/292)
* fixing the TLS 1.3 erorrs to make them retriable

Additionally all of these seem like great options for PRs for people who want to work towards becoming

[2022-11-10 14:05] #272 closed, assigned to geofffranks

[2022-11-11 17:48] domdom82 commented on #285
Hi @ameowlia I've added two PRs to implement the first two features (make retries configurable + try all endpoints):

- https://github.com/cloudfoundry/routing-release/pull/298 (specs)
- https://github.com/cloudfoundry/gorouter/pull/335 (logic)

[2022-11-16 09:54] domdom82 commented on #285
For the TLS problems there is an upstream issue to export them so we won't have to string compare in the classifier: https://github.com/golang/go/issues/35234

Linking for reference.

[2022-11-24 15:03] peanball opened #304 "Capture and log information about gorouter retries"
## Is this a security vulnerability?
No.

## Issue

The time that is spent on Gorouter retries is unclear / invisible in the gorouter 'access log' and requires manual correlation with other logs.

The response_time metric does not break down further into components that would be useful for error triage, latency analysis and customer support.

## Affected Versions
All.

## Context

Gorouter retries

[2022-11-24 16:20] plowin commented on #304
We would like to contribute the proposed functionality. If there are objections/concerns/remarks, feel free to add them here!
/cc @ameowlia

[2022-11-24 16:20] a18e commented on #304
I generally agree.
But rather than logging `retry_time` in the access log, I would propose logging the inverse, i.e. the time of the last request (whether that was successful or not).
I believe that this value (let's call it `app_instance_response_time` or `instance_response_time`) is more directly useful for the customer, as they can see how long their app takes to respond when it is working corr

[2022-11-24 17:21] peanball commented on #304
@a18e, I would like the retry time or failed attempt time to be measured by the sum of failed request durations, not computed from other times. Otherwise we might mask times that were introduced somewhere in the chain without seeing the discrepancy towards the overall response_time.
But fair point that the time for the last (and successful) request could be pointed out specifically.

Logging the t

[2022-11-25 08:28] domdom82 commented on #304
`dial_time` will be interesting, because you have the dial time of an individual attempt (i.e. Transport.DialTLS), where I assume it will be part of the `retry_time` (rather: `attempt_time`) and then you have the total of all `dial_time` that you may or may not want report on the access log.

I'd favor a simple approach:
- per each attempt, record:
  - dial_time (the time it took to connect to the

[2022-11-25 11:13] peanball commented on #304
@domdom82 I'm in favor of your option B), with one minor change in phrasing:

[2022-11-29 09:38] katter commented on #292
This could as well come in handy for adding a LB algorithm that helps avoiding zone traversal (if possible). Inter-Zone egress cost can be quite hurting in larger deployments